

.news-card {
    padding: 20px;
    border: 2px solid #666;
    
}

.news-card:hover{
    background-color: #101010;
    cursor: pointer;
    color: #cfcfcf;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

p{
    color: #666;
}

img{
    color: #666;
}